<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
				<i class="icon-reorder shaded"></i>
			</a>

			<a class="brand" href="/admin/profile">
				Hệ thống quản lý sinh viên
			</a>

			<div class="nav-collapse collapse navbar-inverse-collapse">
				<form class="navbar-search pull-left input-append" action="#">
					<input type="text" class="span3">
					<button class="btn" type="button">
						<i class="icon-search"></i>
					</button>
				</form>
				<ul class="nav pull-right">
					<li><a href="/admin/guide">
							<i class="icon-bell"></i>
							Xin chào Nguyễn Bình Nguyên
						</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>