<div class="container" id="wrapper">
    <div class="cl" id="content-wrapper">
        <div class="col-md-8 col-sm-8 col-xs-12 col-mb-12" id="post-wrapper" itemscope="itemscope"
            itemtype="http://schema.org/Blog" role="main">
            <div class="main-post cl">
                <b class="main-title"><i class="fa fa-bars"></i><span>Danh Sách Truyện</span>
                    <a class="fr animated" href="#">View All</a></b>
                <div class="main section" id="main">
                    <div class="widget Blog" data-version="1" id="Blog1">
                        <div class="blog-posts row hfeed" id="macy-container">
                            <!--Can't find substitution for tag [defaultAdStart]-->
                            <div class="post-outer col-md-12 col-sm-12 col-xs-12 col-mb-12">
                                <article class="post hentry post-home cl" itemprop="blogPost" itemscope="itemscope"
                                    itemtype="http://schema.org/BlogPosting">
                                    <meta
                                        content="https://1.bp.blogspot.com/-AXcgAv-QAxk/Xr5neJJB41I/AAAAAAAACnY/8Hrsf4HgG4o4kbxj7PasuyjMrQ-bNttsACLcBGAsYHQ/s320/can-nha-so-99.jpg"
                                        itemprop="image">
                                    <div class="post-thumb animated">
                                        <a href="https://anime1-f4vnn.blogspot.com/2020/05/can-nha-so-99.html"><i
                                                class="fa fa-thumbs-up animated"></i>
                                            <div class="img-thumbnail"><img alt="[Trinh Thám] Căn nhà số 99 - Ân Tĩnh"
                                                    data-src="https://1.bp.blogspot.com/-AXcgAv-QAxk/Xr5neJJB41I/AAAAAAAACnY/8Hrsf4HgG4o4kbxj7PasuyjMrQ-bNttsACLcBGAsYHQ/w155-h155-p-k-no-nu/can-nha-so-99.jpg"
                                                    height="155"
                                                    src="https://1.bp.blogspot.com/-AXcgAv-QAxk/Xr5neJJB41I/AAAAAAAACnY/8Hrsf4HgG4o4kbxj7PasuyjMrQ-bNttsACLcBGAsYHQ/w155-h155-p-k-no-nu/can-nha-so-99.jpg"
                                                    title="[Trinh Thám] Căn nhà số 99 - Ân Tĩnh" width="155"></div>
                                        </a>
                                    </div>
                                    <div class="post-box">
                                        <a name="7727305127261360198"></a>
                                        <h2 class="post-title entry-title" itemprop="name headline">
                                            <a href="https://anime1-f4vnn.blogspot.com/2020/05/can-nha-so-99.html">[Trinh
                                                Thám] Căn nhà số 99 - Ân Tĩnh</a>
                                        </h2>
                                        <header class="post-header">
                                            <div class="post-date"><i class="fa fa-calendar"></i>
                                                <b>Release</b><span class="date-block"><abbr class="updated published"
                                                        itemprop="datePublished" title="2020-05-15T02:56:00-07:00">tháng
                                                        5 15, 2020</abbr></span>
                                            </div>
                                            <div class="post-view"><i class="fa fa-eye"></i>
                                                <b>View</b><span class="viewers"><i class="wpview" id="postviews">79</i>
                                                    View</span>
                                            </div>
                                            <div class="post-label"><i class="fa fa-tags"></i>
                                                <b>Anime</b><a class="label-block"
                                                    href="https://anime1-f4vnn.blogspot.com/search/label/Trinh%20Th%C3%A1m"
                                                    rel="tag">Trinh Thám</a>
                                            </div>
                                        </header>
                                        <div class="post-body entry-content cl dn" id="post-body-7727305127261360198"
                                            itemprop="articleBody description">
                                            <div id="summary7727305127261360198"> [Trinh thám] Căn Nhà Số 99: Tác giả:
                                                Ân Tĩnh. Thể Loại: Truyện ngắn trinh thám. Giới hạn độ tuổi: K. Độ dài
                                                truyện: Vẫn đang ra n...</div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="post-outer col-md-12 col-sm-12 col-xs-12 col-mb-12">
                                <article class="post hentry post-home cl" itemprop="blogPost" itemscope="itemscope"
                                    itemtype="http://schema.org/BlogPosting">
                                    <meta
                                        content="https://1.bp.blogspot.com/-DGVozQwVS24/Xr5Ze_RtSuI/AAAAAAAACmo/SgpvCtBO1nACeR69G_O5wkpYVFL8ebmVwCLcBGAsYHQ/s320/ban-trai-ki-la-cua-toi.jpg"
                                        itemprop="image">
                                    <div class="post-thumb animated">
                                        <a href="https://anime1-f4vnn.blogspot.com/2020/05/ban-trai-ky-la-cua-toi.html"><i
                                                class="fa fa-thumbs-up animated"></i>
                                            <div class="img-thumbnail"><img
                                                    alt="[Ngôn Tình] Bạn Trai Kỳ Lạ Của Tôi - Kim Tử Tựu Thị Sao Phiếu"
                                                    data-src="https://1.bp.blogspot.com/-DGVozQwVS24/Xr5Ze_RtSuI/AAAAAAAACmo/SgpvCtBO1nACeR69G_O5wkpYVFL8ebmVwCLcBGAsYHQ/w155-h155-p-k-no-nu/ban-trai-ki-la-cua-toi.jpg"
                                                    height="155"
                                                    src="https://1.bp.blogspot.com/-DGVozQwVS24/Xr5Ze_RtSuI/AAAAAAAACmo/SgpvCtBO1nACeR69G_O5wkpYVFL8ebmVwCLcBGAsYHQ/w155-h155-p-k-no-nu/ban-trai-ki-la-cua-toi.jpg"
                                                    title="[Ngôn Tình] Bạn Trai Kỳ Lạ Của Tôi - Kim Tử Tựu Thị Sao Phiếu"
                                                    width="155"></div>
                                        </a>
                                    </div>
                                    <div class="post-box">
                                        <a name="8173523232411653626"></a>
                                        <h2 class="post-title entry-title" itemprop="name headline">
                                            <a
                                                href="https://anime1-f4vnn.blogspot.com/2020/05/ban-trai-ky-la-cua-toi.html">[Ngôn
                                                Tình] Bạn Trai Kỳ Lạ Của Tôi - Kim Tử Tựu Thị Sao Phiếu</a>
                                        </h2>
                                        <header class="post-header">
                                            <div class="post-date"><i class="fa fa-calendar"></i>
                                                <b>Release</b><span class="date-block"><abbr class="updated published"
                                                        itemprop="datePublished" title="2020-05-15T02:02:00-07:00">tháng
                                                        5 15, 2020</abbr></span>
                                            </div>
                                            <div class="post-view"><i class="fa fa-eye"></i>
                                                <b>View</b><span class="viewers"><i class="wpview" id="postviews">72</i>
                                                    View</span>
                                            </div>
                                            <div class="post-label"><i class="fa fa-tags"></i>
                                                <b>Anime</b><a class="label-block"
                                                    href="https://anime1-f4vnn.blogspot.com/search/label/Ng%C3%B4n%20t%C3%ACnh"
                                                    rel="tag">Ngôn tình</a>
                                            </div>
                                        </header>
                                        <div class="post-body entry-content cl dn" id="post-body-8173523232411653626"
                                            itemprop="articleBody description">
                                            <div id="summary8173523232411653626"> Bạn Trai Kỳ Lạ Của Tôi - Kim Tử Tựu
                                                Thị Sao Phiếu: Tên gọi khác: Chồng Tôi Là Quỷ Thai. Tựa gốc: 我的异样男友. Tác
                                                giả: Kim Tử Tựu Thị...</div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="post-outer col-md-12 col-sm-12 col-xs-12 col-mb-12">
                                <article class="post hentry post-home cl" itemprop="blogPost" itemscope="itemscope"
                                    itemtype="http://schema.org/BlogPosting">
                                    <meta
                                        content="https://1.bp.blogspot.com/-wUXxBZb9VmQ/Xr5WrLiaWVI/AAAAAAAACmc/InAPm2YC8Jwg6qs2l_-JbD_U0GMJUvoewCPcBGAYYCw/s320/ki-uc-tuoi-tho-trong-toi.jpg"
                                        itemprop="image">
                                    <div class="post-thumb animated">
                                        <a
                                            href="https://anime1-f4vnn.blogspot.com/2020/05/ky-uc-tuoi-tho-trong-toi.html"><i
                                                class="fa fa-thumbs-up animated"></i>
                                            <div class="img-thumbnail"><img alt="[Truyện ngắn] Ký ức tuổi thơ trong tôi"
                                                    data-src="https://1.bp.blogspot.com/-wUXxBZb9VmQ/Xr5WrLiaWVI/AAAAAAAACmc/InAPm2YC8Jwg6qs2l_-JbD_U0GMJUvoewCPcBGAYYCw/w155-h155-p-k-no-nu/ki-uc-tuoi-tho-trong-toi.jpg"
                                                    height="155"
                                                    src="https://1.bp.blogspot.com/-wUXxBZb9VmQ/Xr5WrLiaWVI/AAAAAAAACmc/InAPm2YC8Jwg6qs2l_-JbD_U0GMJUvoewCPcBGAYYCw/w155-h155-p-k-no-nu/ki-uc-tuoi-tho-trong-toi.jpg"
                                                    title="[Truyện ngắn] Ký ức tuổi thơ trong tôi" width="155"></div>
                                        </a>
                                    </div>
                                    <div class="post-box">
                                        <a name="5820243416960810401"></a>
                                        <h2 class="post-title entry-title" itemprop="name headline">
                                            <a
                                                href="https://anime1-f4vnn.blogspot.com/2020/05/ky-uc-tuoi-tho-trong-toi.html">[Truyện
                                                ngắn] Ký ức tuổi thơ trong tôi</a>
                                        </h2>
                                        <header class="post-header">
                                            <div class="post-date"><i class="fa fa-calendar"></i>
                                                <b>Release</b><span class="date-block"><abbr class="updated published"
                                                        itemprop="datePublished" title="2020-05-15T00:35:00-07:00">tháng
                                                        5 15, 2020</abbr></span>
                                            </div>
                                            <div class="post-view"><i class="fa fa-eye"></i>
                                                <b>View</b><span class="viewers"><i class="wpview"
                                                        id="postviews">169</i> View</span>
                                            </div>
                                            <div class="post-label"><i class="fa fa-tags"></i>
                                                <b>Anime</b><a class="label-block"
                                                    href="https://anime1-f4vnn.blogspot.com/search/label/Truy%E1%BB%87n%20Ng%E1%BA%AFn"
                                                    rel="tag">Truyện Ngắn</a>
                                            </div>
                                        </header>
                                        <div class="post-body entry-content cl dn" id="post-body-5820243416960810401"
                                            itemprop="articleBody description">
                                            <div id="summary5820243416960810401"> [Truyện ngắn] Ký ức tuổi thơ trong tôi
                                                - Dã Uyên (HT): Trong chúng ta, mỗi người đều có một tuổi thơ đáng nhớ.
                                                Chính ký ức đó có...</div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!--Can't find substitution for tag [adEnd]-->
                        </div>
                        <nav class="pagination blog-pager" id="blog-pager">
                            <li class="pages">Page 1 of 1</li>
                            <li class="active"><a href="#">1</a></li>
                            <div class="clear"></div>
                        </nav>
                        <div class="blog-feeds">
                            <div class="feed-links">Đăng ký:<a class="feed-link"
                                    href="https://anime1-f4vnn.blogspot.com/feeds/posts/default" target="_blank"
                                    type="application/atom+xml">Bài đăng (Atom)</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- post wrapper end -->
        <aside class="col-md-4 col-sm-4 col-xs-4 col-mb-4" id="sidebar-wrapper" itemscope="itemscope"
            itemtype="http://schema.org/WPSideBar">
            <div class="sidebar section" id="sidebar">
                <div class="widget Label" data-version="1" id="Label1">
                    <h2>Thể loại truyện</h2>
                    <div class="widget-content cloud-label-widget-content">
                        <span class="label-size label-size-2">
                            <a dir="ltr"
                                href="https://anime1-f4vnn.blogspot.com/search/label/Ng%C3%B4n%20t%C3%ACnh">Ngôn
                                tình</a>
                            <span class="label-count" dir="ltr">(1)</span>
                        </span>
                        <span class="label-size label-size-2">
                            <a dir="ltr" href="https://anime1-f4vnn.blogspot.com/search/label/Trinh%20Th%C3%A1m">Trinh
                                Thám</a>
                            <span class="label-count" dir="ltr">(1)</span>
                        </span>
                        <span class="label-size label-size-2">
                            <a dir="ltr"
                                href="https://anime1-f4vnn.blogspot.com/search/label/Truy%E1%BB%87n%20Ng%E1%BA%AFn">Truyện
                                Ngắn</a>
                            <span class="label-count" dir="ltr">(1)</span>
                        </span>
                        <div class="clear"></div>
                        <span class="widget-item-control">
                            <span class="item-control blog-admin">
                                <a class="quickedit"
                                    onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;Label1&quot;));"
                                    rel="nofollow" target="configLabel1" title="Chỉnh sửa">
                                    <img alt="" height="18"
                                        src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                                </a>
                            </span>
                        </span>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="widget PopularPosts" data-version="1" id="PopularPosts1">
                    <h2>Truyện Nổi Bật</h2>
                    <div class="widget-content popular-posts">
                        <ul>
                            <li>
                                <div class="item-thumbnail-only">
                                    <div class="item-thumbnail">
                                        <a href="https://anime1-f4vnn.blogspot.com/2020/05/ky-uc-tuoi-tho-trong-toi.html"
                                            target="_blank">
                                            <img alt="" border="0"
                                                src="https://1.bp.blogspot.com/-wUXxBZb9VmQ/Xr5WrLiaWVI/AAAAAAAACmc/InAPm2YC8Jwg6qs2l_-JbD_U0GMJUvoewCPcBGAYYCw/w330-h330-p-k-no-nu/ki-uc-tuoi-tho-trong-toi.jpg">
                                        </a>
                                    </div>
                                    <div class="item-title"><a class="eps"
                                            href="https://anime1-f4vnn.blogspot.com/2020/05/ky-uc-tuoi-tho-trong-toi.html">Truyện
                                            ngắn Ký ức tuổi thơ trong tôi</a></div>
                                </div>
                                <div style="clear: both;"></div>
                            </li>
                            <li>
                                <div class="item-thumbnail-only">
                                    <div class="item-thumbnail">
                                        <a href="https://anime1-f4vnn.blogspot.com/2020/05/can-nha-so-99.html"
                                            target="_blank">
                                            <img alt="" border="0"
                                                src="https://1.bp.blogspot.com/-AXcgAv-QAxk/Xr5neJJB41I/AAAAAAAACnY/8Hrsf4HgG4o4kbxj7PasuyjMrQ-bNttsACLcBGAsYHQ/w330-h330-p-k-no-nu/can-nha-so-99.jpg">
                                        </a>
                                    </div>
                                    <div class="item-title"><a class="eps"
                                            href="https://anime1-f4vnn.blogspot.com/2020/05/can-nha-so-99.html">Trinh
                                            Thám Căn nhà số 99 - Ân Tĩnh</a></div>
                                </div>
                                <div style="clear: both;"></div>
                            </li>
                            <li>
                                <div class="item-thumbnail-only">
                                    <div class="item-thumbnail">
                                        <a href="https://anime1-f4vnn.blogspot.com/2020/05/ban-trai-ky-la-cua-toi.html"
                                            target="_blank">
                                            <img alt="" border="0"
                                                src="https://1.bp.blogspot.com/-DGVozQwVS24/Xr5Ze_RtSuI/AAAAAAAACmo/SgpvCtBO1nACeR69G_O5wkpYVFL8ebmVwCLcBGAsYHQ/w330-h330-p-k-no-nu/ban-trai-ki-la-cua-toi.jpg">
                                        </a>
                                    </div>
                                    <div class="item-title"><a class="eps"
                                            href="https://anime1-f4vnn.blogspot.com/2020/05/ban-trai-ky-la-cua-toi.html">Ngôn
                                            Tình Bạn Trai Kỳ Lạ Của Tôi - Kim Tử Tựu Thị Sao Phiếu</a></div>
                                </div>
                                <div style="clear: both;"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- sidebar wrapper end -->
        <div class="clear"></div>
    </div>
    <!-- end content-wrapper -->
    <div class="clear"></div>
</div>