
 {{#section 'footer'}}
  <script>
    $( "#NgaySinh" ).datepicker();
    </script>
    <script>

        $(document).ready(function(){
            $("form").submit(function(e){
                //e.preventDefault();
                const student={
                    MSSV: $("#MSSV").val(),
                    HoLot: $("#HoLot").val(),
                    Ten: $("#HoLot").val(),
                    GioiTinh: $('input[name="GioiTinh"]:checked').val(),
                    NgaySinh: $("#NgaySinh").val(),
                    NoiSinh: $('#NoiSinh').val(),
                    Lop: $("#Lop").val(),
                    Nganh: $('#Nganh').val(),
                    Email: $('#Email').val()
                }
                console.log(student)
                //https://www.youtube.com/watch?v=HlrJnN8t-94
                $.ajax({
                    url:'students/add-new',
                    data: student,
                    method:"POST",
                    dataType:"application/x-www-form-urlencoded",
                    success: function(res){
                        console.log(res.from)
                    },
                    error: function(err){
                        console.log(err)
                    }
                }
                )
            })
        })
    </script>
{{/section}}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="sidebar">

                    <ul class="widget widget-menu unstyled">
                        <li class="active">
                            <a href="index.html">
                                <i class="menu-icon icon-dashboard"></i>
                                Quản lý sinh viên
                            </a>
                        </li>
                        <li>
                            <a href="activity.html">
                                <i class="menu-icon icon-bullhorn"></i>
                                News Feed
                            </a>
                        </li>
                        <li>
                            <a href="message.html">
                                <i class="menu-icon icon-inbox"></i>
                                Inbox
                                <b class="label green pull-right">11</b>
                            </a>
                        </li>

                        <li>
                            <a href="task.html">
                                <i class="menu-icon icon-tasks"></i>
                                Tasks
                                <b class="label orange pull-right">19</b>
                            </a>
                        </li>
                    </ul>
                    <!--/.widget-nav-->

                    <ul class="widget widget-menu unstyled">
                        <li><a href="ui-button-icon.html"><i class="menu-icon icon-bold"></i> Buttons </a></li>
                        <li><a href="ui-typography.html"><i class="menu-icon icon-book"></i>Typography </a></li>
                        <li><a href="form.html"><i class="menu-icon icon-paste"></i>Forms </a></li>
                        <li><a href="table.html"><i class="menu-icon icon-table"></i>Tables </a></li>
                        <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Charts </a></li>
                    </ul>
                    <!--/.widget-nav-->

                    <ul class="widget widget-menu unstyled">
                        <li>
                            <a class="collapsed" data-toggle="collapse" href="#togglePages">
                                <i class="menu-icon icon-cog"></i>
                                <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
                                More Pages
                            </a>
                            <ul id="togglePages" class="collapse unstyled">
                                <li>
                                    <a href="other-login.html">
                                        <i class="icon-inbox"></i>
                                        Đăng xuất
                                    </a>
                                </li>
                                <li>
                                    <a href="other-user-profile.html">
                                        <i class="icon-inbox"></i>
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="other-user-listing.html">
                                        <i class="icon-inbox"></i>
                                        All Users
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">
                                <i class="menu-icon icon-signout"></i>
                                Logout
                            </a>
                        </li>
                    </ul>

                </div>
                <!--/.sidebar-->
            </div>
            <!--/.span3-->


            <div class="span9">
                <div class="content">

                    <div class="btn-controls">
                        <div class="btn-box-row row-fluid">
                            <a href="/students/add" class="btn-box span3">
                                <i class="icon-arrow-up"></i>
                                <b>Upload danh sách</b>
                            </a>
                            <a href="/students/add-new" class="btn-box span3 bg-light">
                                <i class="icon-user"></i>
                                <b>Thêm sinh viên</b>
                            </a>
                            <a href="/students/find" class="btn-box span3">
                                <i class="icon-search"></i>
                                <b>Tìm kiếm sinh viên</b>
                            </a>
                            <a href="/students/edit-info" class="btn-box span3">
                                <i class="icon-edit"></i>
                                <b>Chỉnh sửa sinh viên</b>
                            </a>
                        </div>
                    </div>
                    <!--/.btn-controls-->
                    <div class="module-head">
                        <h3>Thêm sinh viên</h3>
                    </div>
                    <div class="module-body">

                        <form action="/students/add-new" method="POST" class="form-horizontal row-fluid" enctype="application/x-www-form-urlencoded">
                            <div class="control-group">
                                <label class="control-label" for="MSSV">Mã số sinh viên</label>
                                <div class="controls">
                                    <input type="text" id="MSSV" placeholder="Nhập mã số sinh viên..."
                                        class="span8" required>
                                    <span class="help-inline">(*)</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="HoLot">Họ lót</label>
                                <div class="controls">
                                    <input type="text" id="HoLot" placeholder="Nhập họ và tên lót sinh viên"
                                        class="span8" required>
                                    <span class="help-inline">(*)</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="Ten">Tên</label>
                                <div class="controls">
                                    <input type="text" id="Ten" placeholder="Nhập tên sinh viên"
                                        class="span8" required>
                                    <span class="help-inline">(*)</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="NgaySinh">Ngày sinh</label>
                                <div class="controls">
                                    <input type="text" name="date" id="NgaySinh" required>
                                    <span class="help-inline">(*)</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Email">Email</label>
                                <div class="controls">
                                    <input type="email" id="Email" placeholder="Nhập Email"
                                        class="span8" required>
                                    <span class="help-inline">(*)</span>
                                </div>
                            </div>
                             <div class="control-group">
                                <label class="control-label" for="Lop">Lớp</label>
                                <div class="controls">
                                    <input type="text" id="Lop" placeholder="Nhập tên lớp"
                                        class="span8" required>
                                    <span class="help-inline">(*)</span>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label" for="NoiSinh">Nơi sinh</label>
                                <div class="controls">
                                    <select tabindex="1" data-placeholder="Chọn nơi sinh" class="span8" id="NoiSinh">
                                        {{#each provinces}}
                                            <option value="{{@index}}">{{province}}</option>
                                        {{/each}}
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="Nganh">Ngành học</label>
                                <div class="controls">
                                    <select tabindex="1" data-placeholder="Select here.." class="span8" id="Nganh">
                                        <option value="">Select here..</option>
                                        <option value="Category 1">First Row</option>
                                        <option value="Category 2">Second Row</option>
                                        <option value="Category 3">Third Row</option>
                                        <option value="Category 4">Fourth Row</option>

                                    </select>
                                </div>
                            </div>

                           
                            <div class="control-group">
                                <label class="control-label">Giới tính</label>
                                <div class="controls">
                                    <label class="radio inline">
                                        <input type="radio" name="GioiTinh" id="Nam" value="1"
                                            checked="">
                                        Nam
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="GioiTinh" id="Nu" value="0">
                                        Nữ
                                    </label>
                                    
                                </div>
                            </div>

                            

                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-info">Lưu thông tin</button>
                                </div>
                            </div>
                        </form>
                    </div>





                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->

