<div class="span12">
    <div class="content">
        <div class="module message">
            <div class="module-head">
                <h3>
                    Kết quả học tập</h3>
            </div>
            <div class="module-option clearfix">
                <div class="pull-left">
                    <div class="btn-group">
                        <button class="btn">
                            HK1(2020-2021)</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Tất cả</a></li>
                            <li><a href="#">Học kì 1 (2021-2022)</a></li>
                            <li><a href="#">Draft(2)</a></li>
                            <li><a href="#">Trash</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </div>
                </div>
                <div class="pull-right">
                    <a href="#" class="btn btn-primary">In bảng điểm</a>
                </div>
            </div>
            <div class="module-body table">
                <table class="table table-message" id="myTable">
                    <tbody>
                        <tr class="heading">
                            <td class="cell-author hidden-phone hidden-tablet">
                                NH/HK
                            </td>
                            <td>Mã học phần</td>
                            <td class="cell-title">
                                Học phần
                            </td>
                            <td>
                                Số tín chỉ
                            </td>

                            <td class="cell-time align-right">
                                Điểm
                            </td>
                            <td>Ghi chú</td>
                        </tr>
                        <tr class="unread">
                            <td class="cell-author hidden-phone hidden-tablet">
                                2020-2021/1
                            </td>
                            <td>CTDLGT21</td>
                            <td class="cell-title">
                                Cấu trúc dữ liệu và giải thuật
                            </td>
                            <td>
                                4
                            </td>

                            <td class="cell-time align-right">
                                9.0
                            </td>
                            <td>Đạt</td>
                        </tr>
                        <tr class="unread starred">

                            <td class="cell-author hidden-phone hidden-tablet">
                                2020-2021/1
                            </td>
                            <td>CTDLGT21</td>
                            <td class="cell-title">
                                Cấu trúc dữ liệu và giải thuật
                            </td>
                            <td>
                                4
                            </td>

                            <td class="cell-time align-right">
                                9.0
                            </td>
                            <td>Đạt</td>
                        </tr>

                        <tr class="unread">

                            <td class="cell-author hidden-phone hidden-tablet">
                                2020-2021/1
                            </td>
                            <td>CTDLGT21</td>
                            <td class="cell-title">
                                Cấu trúc dữ liệu và giải thuật
                            </td>
                            <td>
                                4
                            </td>

                            <td class="cell-time align-right">
                                9.0
                            </td>
                            <td>Đạt</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="module-foot">
            </div>
        </div>
    </div>
    <!--/.content-->
</div>