<div class="span12">
    <div class="content">
        <div class="module message">
            <div class="module-head">
                <h3>
                    Lịch sử lưu trú </h3>
            </div>
            <div class="module-body table">
                <table class="table table-message">
                    <tbody>
                        <tr class="heading">
                            <td>
                                STT
                            </td>
                            <td>
                                Thời gian bắt đầu
                            </td>
                            <td>Thời gian kết thúc</td>
                            <td>
                                Nơi lưu trú
                            </td>

                            <td>
                                Ghi chú
                            </td>
                            <td>Xóa</td>
                            <td>Cập nhật</td>
                        </tr>
                        <tr class="unread">
                            <td>
                                1
                            </td>
                            <td>
                                <input type="text" value="07/07/2020" class="span2">
                            </td>
                            <td><input type="text" placeholder="Thời gian kết thúc" class="span2"></td>
                            <td>
                                <input type="text" value="KTX B, khu phố 6, p. Linh Trung, Thủ Đức" class="span2">

                            </td>

                            <td>
                                <input type="text" placeholder="Nhập ghi chú" class="span2">
                            </td>
                            <td><button class="btn btn-default"><i class="icon-trash"></i></button></td>
                            <td><button class="btn btn-default"><i class="icon-save"></i></button></td>
                        </tr>
                        <tr class="unread">

                            <td>
                                1
                            </td>
                            <td>
                                <input type="text" value="07/07/2020" class="span2">
                            </td>
                            <td><input type="text" placeholder="Thời gian kết thúc" class="span2"></td>
                            <td>
                                <input type="text" value="KTX B, khu phố 6, p. Linh Trung, Thủ Đức" class="span2">

                            </td>

                            <td>
                                <input type="text" placeholder="Nhập ghi chú" class="span2">
                            </td>
                            <td><button class="btn btn-default"><i class="icon-trash"></i></button></td>
                            <td><button class="btn btn-default"><i class="icon-save"></i></button></td>
                        </tr>


                    </tbody>
                </table>
            </div>
            <div class="module-foot">
                <button class="btn btn-info"><i class="icon-plus">Thêm lưu trú</i></button>
            </div>
        </div>
    </div>
    <!--/.content-->
</div>