<div class="span9">
    <div class="content">
        <div class="module message">
            <div class="module-head">
                <h3>
                   Quản lý học phần</h3>
            </div>

            <div class="module-body">
               
                <div class="control-group">
                    <ul>
                        <li> <strong><a href="/submit/subject">Đăng ký học phần</a></strong> </li>
                        <li><strong><a href="/submit/subject/result">Kết quả đăng ký học phần</a></strong> </li>
                        <li><strong><a href="/submit/subject/history">Lịch sử đăng ký học phần</a></strong> </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
