<div class="span9">
    <div class="content">
        <div class="module message">
            <div class="module-head">
                <h3>
                    Lịch sử đăng ký học phần</h3>
            </div>
            <div class="module-option clearfix">
                <div class="pull-left">
                    <div class="btn-group">
                        <button class="btn">
                            Duyệt theo</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Tất cả</a></li>
                            <li><a href="#">Học kì 1 (2021-2022)</a></li>
                            <li><a href="#">Draft(2)</a></li>
                            <li><a href="#">Trash</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="module-body table">
                <table class="table table-message">
                    <tbody>
                        <tr class="heading">
                            <td class="cell-author hidden-phone hidden-tablet">
                                Mã HP
                            </td>
                            <td class="cell-title">
                                Tên HP
                            </td>
                            <td>Số tín chỉ</td>
                            <td>
                                Trạng thái
                            </td>

                            <td>
                                Thời gian
                            </td>
                        </tr>
                        <tr class="unread">
                            <td>CTDLGT21</td>
                            <td>Cấu trúc dữ liệu và giải thuật</td>
                            <td>4</td>
                            <td>
                                Đã đăng ký
                            </td>

                            <td>8.30 pm 22/06/2021</td>
                        </tr>
                        <tr class="unread starred">

                            <td>CTDLGT21</td>
                            <td>Cấu trúc dữ liệu và giải thuật</td>
                            <td>4</td>
                            <td>
                                Đã đăng ký
                            </td>

                            <td>8.30 pm 22/06/2021</td>
                        </tr>

                        <tr class="read">
                            <td>CTDLGT21</td>
                            <td>Cấu trúc dữ liệu và giải thuật</td>
                            <td>4</td>
                            <td>
                                Đã hủy
                            </td>

                            <td>8.30 pm 22/06/2021</td>
                        </tr>
                        <tr class="read">
                            <td>CTDLGT21</td>
                            <td>Cấu trúc dữ liệu và giải thuật</td>
                            <td>4</td>
                            <td>
                                Đã hủy
                            </td>

                            <td>8.30 pm 22/06/2021</td>
                        </tr>
                        <tr class="read">
                            <td>CTDLGT21</td>
                            <td>Cấu trúc dữ liệu và giải thuật</td>
                            <td>4</td>
                            <td>
                                Đã hủy
                            </td>

                            <td>8.30 pm 22/06/2021</td>
                        </tr>
                        <tr class="read">
                            <td>CTDLGT21</td>
                            <td>Cấu trúc dữ liệu và giải thuật</td>
                            <td>4</td>
                            <td>
                                Đã hủy
                            </td>

                            <td>8.30 pm 22/06/2021</td>
                        </tr>
                        <tr class="read">
                            <td>CTDLGT21</td>
                            <td>Cấu trúc dữ liệu và giải thuật</td>
                            <td>4</td>
                            <td>
                                Đã hủy
                            </td>

                            <td>8.30 pm 22/06/2021</td>
                        </tr>
                        <tr class="read">
                            <td>CTDLGT21</td>
                            <td>Cấu trúc dữ liệu và giải thuật</td>
                            <td>4</td>
                            <td>
                                Đã hủy
                            </td>

                            <td>8.30 pm 22/06/2021</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="module-foot">
            </div>
        </div>
    </div>
    <!--/.content-->
</div>