<div class="span9">
    <div class="content">
        <div class="module message">
            <div class="module-head">
                <h3>
                    Kết quả đăng ký học phần</h3>
            </div>
            <div class="module-option clearfix">
                <div class="pull-left">
                    Tổng số học phần: 3 <br>
                    Tổng số tín chỉ: 12 <br>
                </div>
            </div>
            <div class="module-option clearfix">
                <div class="pull-left">
                    <div class="btn-group">
                        <button class="btn">
                            HK1 (2020-2021)</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Tất cả</a></li>
                            <li><a href="#">Học kì 1 (2020-2021)</a></li>
                            <li><a href="#">Học kì 2 (2020-2021)</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="module-body table">
                <table class="table table-message">
                    <tbody>
                        <tr class="heading">
                            <td>STT</td>
                            <td>Mã HP</td>
                            <td>Tên HP</td>
                            <td>Số TC</td>
                            <td>Giảng viên</td>
                            <td>Lịch học</td>
                            <td>Số SV</td>
                        </tr>
                        </tr>
                        <tr class="unread">
                            <td>1</td>
                            <td>CTDLGT21</td>
                            <td>Cấu trúc dữ liệu và giải thuật</td>
                            <td>4</td>
                            <td>
                                Nguyễn Tiến Đạt <br>
                                Võ Nhật Vinh
                                <br>
                                Bùi Thanh Hiếu
                                <br>
                            </td>
                            <td>Lý thuyết: T2(1-4) <br>
                                Thực hành: Nhóm 1

                            </td>
                            <td>1/15</td>
                        </tr>
                        <tr class="unread">

                            <td>2</td>
                            <td>CSTTNT21</td>
                            <td>Cơ sở trí tuệ nhân tạo</td>
                            <td>4</td>
                            <td>
                                Nguyễn Tiến Đạt <br>
                                Võ Nhật Vinh
                                <br>
                                Bùi Thanh Hiếu
                                <br>
                            </td>
                            <td>Lý thuyết: T2(1-4) <br>
                                Thực hành: Nhóm 1

                            </td>
                            <td>1/15</td>
                        </tr>

                        <tr class="unread">
                            <td>3</td>
                            <td>CNPM21</td>
                            <td>Công nghệ phần mềm</td>
                            <td>4</td>
                            <td>
                                Nguyễn Tiến Đạt <br>
                                Võ Nhật Vinh
                                <br>
                                Bùi Thanh Hiếu
                                <br>
                            </td>
                            <td>Lý thuyết: T2(1-4) <br>
                                Thực hành: Nhóm 1

                            </td>
                            <td>1/15</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="module-foot">
            </div>
        </div>
    </div>
    <!--/.content-->
</div>